.headline__title {
  max-width: 720px;
  margin: 58px auto 0px;
  padding: 0;
  text-align: center;
  font-style: bold;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  color: white;
}
  
/* Tablet Portrait to Landscape */
@media screen and (max-width: 1024px) {
  .headline__title {
    margin-top: 50px;
  }
}
  
/* Large Smartphone to Tablet Portrait */
@media screen and (max-width: 768px) {
  .headline__title {
    margin-left: 24px;
    margin-right: 24px;
  }
}
  
/* Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .headline__title {
    font-size: 70px;
    line-height: 74px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

/* Extra Small Mobile Devices */
@media screen and (max-width: 320px) {
  .headline__title {
    font-size: 40px;
    line-height: 44px;
  }
}