.places__heading {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: 1 / 1 / 2 / 2;
  max-width: 460px;
}
  
@media screen and (max-width: 768px) {
  .places__heading {
    font-size: 42px;
    line-height: 46px;
  }
}
  
@media screen and (max-width: 600px) {
  .places__heading {
    font-size: 38px;
    line-height: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
  
@media screen and (max-width: 320px) {
  .places__heading {
    font-size: 32px;
    line-height: 35px;
    margin-right: 16px;
    margin-left: 16px;
  }
}  