.places__image {
  margin: 0;
  padding: 0;
  max-width: 460px;
  width: 100%;
  grid-area: 2 / 1 / 3 / 2;
  display: inline-block;
  object-fit: cover;
}
  
@media screen and (max-width: 1024px) {
  .places__image {
    max-width: 440px;
  }
}
  
@media screen and (max-width: 768px) {
  .places__image {
    max-width: 340px;
  }
}
  
@media screen and (max-width: 600px) {
  .places__image {
    max-width: 100%;
  }
}
  
@media screen and (max-width: 320px) {
  .places__image {
    max-width: 320px;
  }
}  