.places__website-link {
  margin: 12px 0 0;
  padding: 0;
  text-decoration: underline;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: white;
  transition: opacity .8s ease-in-out;
}

/* Dynamic Pseudo-Class Selector for Mouse-Over Effect */  
.places__website-link:hover {
  opacity: .8;
}