.places__text {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
  
.places__text:last-of-type {
  margin-bottom: 0;
}
  
@media screen and (max-width: 768px) {
  .places__text {
    font-size: 16px;
    line-height: 26px;
  }
}