.headline__caption {
  max-width: 984px;
  margin: 8px auto;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: white;
}
    
@media screen and (max-width: 768px) {
  .headline__caption {
    margin-left: 24px;
    margin-right: 24px;
  }
}
  
@media screen and (max-width: 600px) {
  .headline__caption {
    margin-left: 16px;
    margin-right: 16px;
  }
}
  
@media screen and (max-width: 320px) {
  .headline__caption {
    max-width: 288px;
    align-self: flex-start;
  }
}