.footer__link {
  text-decoration: none;
  margin: 0 18px 0 auto;
  color: white;
  opacity: 1;
  transition: opacity .5s ease-in-out;
  font-size: 16px;
  line-height: 18px;
}

/* Dynamic Pseudo-Class Selector for Mouse-Over Effect */  
.footer__link:hover {
  opacity: .8;
}

/* Extra Small Mobile Devices */
@media screen and (max-width: 320px) {
  .footer__link {
    display: inline-block;
    margin-top: 32px;
    font-size: 24px;
  }
}