.gallery__grid {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  grid-gap: 16px 16px;
}
  
/* Tablet Portrait to Landscape */
@media screen and (max-width: 1024px) {
  .gallery__grid {
    grid-gap: 14px 14px;
  }
}
  
/* Extra Small Mobile Devices to Tablet Portrait */
@media screen and (max-width: 768px) {
  .gallery__grid {
    grid-gap: 16px 16px;
  }
}