@import url("./__caption/headline__caption.css");
@import url("./__image/headline__image.css");
@import url("./__subtitle/headline__subtitle.css");
@import url("./__title/headline__title.css");
@import url("./__figure/headline__figure.css");

.headline {
  align-self: center;
  max-width: 984px;
  padding: 0;
  margin: 58px 148px 0;
  margin-top: 58px;
}

/* Tablet Portrait to Landscape */
@media screen and (max-width: 1024px) {
  .headline {
    margin: 58px 48px 0;
  }
}

/* Mobile to Tablet Portrait */
@media screen and (max-width: 768px) {
  .headline {
    margin: 50px 0;
  }
}