.intro__text {
  text-align: start;
  margin: 0;
  margin-top: 32px;
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: white;
}
    
@media screen and (max-width: 600px) {
  .intro__text {
    font-size: 16px;
    line-height: 26px;
  }
}  