.headline__subtitle {
  margin: 32px auto 0 auto;
  max-width: 620px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
  
/* Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .headline__subtitle {
    font-size: 26px;
    line-height: 34px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
  
/* Extra Small Mobile Devices */
@media screen and (max-width: 414px) {
  .headline__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 16px 16px 0;
  }
}  