@import url("../vendor/normalize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/route/route.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/gallery/gallery.css");
@import url("../blocks/header/header.css");
@import url("../blocks/intro/intro.css");
@import url("../blocks/headline/headline.css");
@import url("../blocks/places/places.css");

.body {
  min-width: 100%;
  background-color: #2A2C2F;
  padding: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  color: white;
  overflow: hidden;
}