@import url("./__copyright/footer__copyright.css");
@import url("./__link/footer__link.css");
@import url("./__links/footer__links.css");

.footer {
  margin: 92px auto 24px auto;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
}

/* Tablet Portrait to Landscape */
@media screen and (max-width: 1024px) {
  .footer {
    margin-right: 48px;
    margin-left: 48px;
  }
}

/* Large Smartphone to Tablet Portrait */
@media screen and (max-width: 768px) {
  .footer {
    margin-right: 24px;
    margin-left: 24px;
  }
}

/* Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .footer {
    max-width: 568px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

/* Extra Small Mobile Devices */
@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column;
    min-height: 198px;
    max-width: 296px;
    margin: 64px 16px 24px 16px;
  }
}