.route__text {
  padding: 0;
  margin: 32px auto 0 auto;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 320px;
  text-align: center;
  z-index: 1;
}
  
/* Large Smartphone to Tablet Portrait */
@media screen and (max-width: 768px) {
  .route__text {
    font-size: 18px;
    line-height: 22px;
  }
}
  
/* Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .route__text {
    font-size: 16px;
    line-height: 18px;
  }
}
  
/* Extra Small Mobile Devices */
@media screen and (max-width: 320px) {
  .route__text {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}  