@import url("./__link/route__link.css");
@import url("./__text/route__text.css");
@import url("./__title/route__title.css");

.route {
  position: relative;
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 92px;
}

/* Tablet Portrait to Landscape */
@media screen and (max-width: 768px) {
  .route {
    margin-top: 96px;
  }
}

/* Large Smartphone to Tablet Portrait */
@media screen and (max-width: 768px) {
  .route {
    margin-top: 88px;
  }
}

/* Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .route {
    min-width: 100%;
    margin-top: 64px;
  }
}

/* Extra Small Mobile Devices */
@media screen and (max-width: 320px) {
  .route {
    max-width: 320px;
  }
}