.places__website-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0;
  grid-area: 1 / 2 / 2 / 3;
}

/* Extra Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .places__website-container {
    display: none;
  }
}