.intro__title {
  text-align: start;
  max-width: 690px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
}  

/* Large Smartphone to Tablet Portrait */
@media screen and (max-width: 768px) {
  .intro__title {
  max-width: 720px;
  }
}

/* Extra Small to Medium-sized Smartphone */
@media screen and (max-width: 600px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}